body{
    margin: 0;
    padding: 0;
}
#containerComentarios{
    width: 100%;
    display: flex; 
    margin-top: 2%;
    justify-content: center;
}

#addComentario{
    width: 80%; 
}

#addComentario .titulo{
    width: 70%;
    height: 4vh;
}
#addComentario .desc{
    width: 70%;
    height: 30vh;
}
#addComentario #tituloCom{
    text-align: center;
}

#comentarios {
    width: 100%;
    display: flex; 
    margin-top: 2%;
    justify-content: center;
}

.comentario{
    
}
