@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #E0E1DD;
    font-family: Roboto Mono;
}

/*                          INICIO DA NAV                                   */
nav {
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-around;
    background-color: #1B263B;

}
#logo{
}
#imgLogo{
    width: 130px;
}

#listHome {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

#listHome li {
    list-style: none;

}

#listHome li a {
    list-style: none;
    text-decoration: none;
    color: #E0E1DD;
    font-size: 25px;
    
}

#listHome li a:hover {
    transition: all 0.5s;
    border-bottom: 1px solid;
    border-radius: 10px;
    color: #FFFFFF;
}

#signup {
    display: flex;
    width: 20%;
}

#signup a {
    text-decoration: none;
    background-color: #0D1B2A;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    margin-left: 2%;
    color: #FFD700;
}

/*                       FIM DA NAV                                         */

/*                       INÍCIO DA CAROUSEL                                  */
#carousel {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
}

#imagemCarousel {
    width: 100%;
    height: 100%;
}

#imagemCarousel img {
    width: 100%;
    height: 100%;
}
#text_novos{
    width: 100%; 
    text-align: center;
    margin-top: 5%;
}
#novo{
    width: 100%;
    height: 100%;
    background-color: #778DA9; 
    display: flex; 
    justify-content: space-evenly;
}
/*                       FIM DA CAROUSEL                                  */

/*                       Inicio Mangas novos                                      */ 

#div_novos{
    width: 100%; 
    height: 50vh;
    background-color: #003399;
    
    display: flex; 
}

/*                         Fim Mangas novos                                      */ 



/*                       MANGAS                                  */
#div_pesquisa{
    width: 100%; 
    height: 10vh; 
       justify-content: right; 
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}
#div_pesquisa input{
    border-radius: 25px;
    width: 20%;
    margin-right: 5%;
    height: 30%;
    
    text-align: center;
}
#div_pesquisa button{
    text-align: center;
    margin-right: 2%;
    height: 30%;
}
#biblioteca {
    width: 100%;
    display: flex;
}


#genero {
    border: 1px solid;
    width: 20vw;
    text-align: center;
}

#genero ul li {
    text-decoration: none;
    
    margin-top: 10%;
    
}

#genero ul li a {
    color: #0D1B2A;
    font-weight: 600;
    text-decoration: none;
    margin-top: 5%;
}

#estante {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#estante a {
    height: 35vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 15%;  
    position: relative;
    margin-top: 2%;

}
#estante a #imgLivro {
    width: 100%;    
    height: 100%;   
    transition: all 0.4s;
}


#estante a #imgLivro:hover {
    border: 1px solid white;
    transform: scale(1.2);
    z-index: 1;
    transition: all 0.7s;
    opacity: 1;
}   





/*                      fim  MANGAS                                  */


/*                       footer                                  */

footer {
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
    font-weight: 800;
    height: 40vh;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}